# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore all files in the .idea directory
.idea/

# Ignore pkl files
*.pkl

# Ignore env files
.env

# Ignore all files in .run directory
.run/

# All files Jupyter notebooks checkpoints folder
.ipynb_checkpoints/

# All files Jupyter notebooks extensions folder
.virtual_documents/

# Ignore all AiZynthFinder stock and trained model data
*.hdf5
*.onnx
*csv.gz

# Ignore configuration file
*.yml